Producto/analytics/mapbiomas/data/fire_stats_2017_partial.jsonl linguist-generated
Producto/backend/simfat-backend/src/main/resources/seed/mapbiomas/comuna-mapbiomas-stats.fuego-col1-2017-partial.jsonl linguist-generated
